# Configuration file

general {

    entity {
        # Angus Bull Entity ID
        I:BullAngusID=507

        # Fresian Bull Entity ID
        I:BullFriesianID=504

        # Hereford Bull Entity ID
        I:BullHerefordID=513

        # Holstein Bull Entity ID
        I:BullHolsteinID=501

        # Longhorn Bull Entity ID
        I:BullLonghornID=510

        # Angus Calf Entity ID
        I:CalfAngusID=508

        # Fresian Calf Entity ID
        I:CalfFriesianID=505

        # Hereford Calf Entity ID
        I:CalfHerefordID=514

        # Holstein Calf Entity ID
        I:CalfHolsteinID=502

        # Longhorn Calf Entity ID
        I:CalfLonghornID=511

        # Chick Leghorn Entity ID
        I:ChickLeghornID=535

        # Chick Orpington Entity ID
        I:ChickOrpingtonID=538

        # Chick Plymouth Rock Entity ID
        I:ChickPlymouthRockID=532

        # Chick Rode Island Red Entity ID
        I:ChickRhodeIslandRedID=541

        # Chick Wyandotte Entity ID
        I:ChickWyandotteID=544

        # Angus Cow Entity ID
        I:CowAngusID=506

        # Fresian Cow Entity ID
        I:CowFriesianID=503

        # Hereford Cow Entity ID
        I:CowHerefordID=512

        # Holstein Cow Entity ID
        I:CowHolsteinID=500

        # Longhorn Cow Entity ID
        I:CowLonghornID=509

        # Grey Ferret Male Entity ID
        I:FerretMaleGreyID=523

        # White Ferret Male Entity ID
        I:FerretMaleWhiteID=526

        # Foal Draft Horse Entity ID
        I:FoalDraftHorseID=703

        # Hamster Male Entity ID
        I:HamsterMaleID=520

        # Albino Hedgehog Male Entity ID
        I:HedgehogMaleAlbinoID=550

        # Hedgehog Male Entity ID
        I:HedgehogMaleID=529

        # Hen Leghorn Entity ID
        I:HenLeghornID=533

        # Hen Orpington Entity ID
        I:HenOrpingtonID=536

        # Hen Plymouth Rock Entity ID
        I:HenPlymouthRockID=530

        # Hen Rode Island Red Entity ID
        I:HenRhodeIslandRedID=539

        # Hen Wyandotte Entity ID
        I:HenWyandotteID=542

        # Hog Duroc Entity ID
        I:HogDurocID=613

        # Hog Hampshire Entity ID
        I:HogHampshireID=616

        # Hog Large Black Entity ID
        I:HogLargeBlackID=607

        # Hog Large Black Entity ID
        I:HogLargeWhiteID=610

        # Hog Old Spot Entity ID
        I:HogOldSpotID=604

        # Hog Yorkshire Entity ID
        I:HogYorkshireID=601

        # Stallion Draft Horse Entity ID
        I:MareDraftHorseID=701

        # Indian Blue Peachick Entity ID
        I:PeachickBlueID=582

        # Indian White Peachick Entity ID
        I:PeachickWhiteID=585

        # Indian Blue Peacock Entity ID
        I:PeacockBlueID=580

        # Indian White Peacock Entity ID
        I:PeacockWhiteID=583

        # Indian Blue Peafowl Entity ID
        I:PeafowlBlueID=581

        # Indian White Peafowl Entity ID
        I:PeafowlWhiteID=584

        # Piglet Duroc Entity ID
        I:PigletDurocID=614

        # Piglet Hampshire Entity ID
        I:PigletHampshireID=617

        # Piglet Large Black Entity ID
        I:PigletLargeBlackID=608

        # Piglet Large Black Entity ID
        I:PigletLargeWhiteID=611

        # Piglet Old Spot Entity ID
        I:PigletOldSpotID=605

        # Piglet Yorkshire Entity ID
        I:PigletYorkshireID=602

        # Rooster Leghorn Entity ID
        I:RoosterLeghornID=534

        # Rooster Orpington Entity ID
        I:RoosterOrpingtonID=537

        # Rooster Plymouth Rock Entity ID
        I:RoosterPlymouthRockID=531

        # Rooster Rode Island Red Entity ID
        I:RoosterRhodeIslandRedID=540

        # Rooster Wyandotte Entity ID
        I:RoosterWyandotteID=543

        # Sow Duroc Entity ID
        I:SowDurocID=612

        # Sow Hampshire Entity ID
        I:SowHampshireID=615

        # Sow Large Black Entity ID
        I:SowLargeBlackID=606

        # Sow Large White Entity ID
        I:SowLargeWhiteID=609

        # Sow Old Spot Entity ID
        I:SowOldSpotID=603

        # Sow Yorkshire Entity ID
        I:SowYorkshireID=600

        # Mare Draft Horse Entity ID
        I:StallionDraftHorseID=702
    }

    gamerules {
        # Allow eggs to be thrown
        B:allowEggThrowing=false

        # Allow random mobs to spawn on Animania animals
        B:allowMobRiding=true

        # Allow dispensers to place seeds
        B:allowSeedDispenserPlacement=true

        # Allow the trough to be automated with hoppers/pipes
        B:allowTroughAutomation=true

        # Animals starve to death when not fed and watered
        B:animalsStarve=false

        # Ticks that a Cheese takes to mature
        I:cheeseMaturityTime=24000

        # Enable recipes to exchange special meats for vanilla
        B:enableVanillaMeatRecipes=false

        # Multiplier for reducing fall damage when animals are leashed
        D:fallDamageReduceMultiplier=0.44999998807907104

        # Foods give bonus effects
        B:foodsGiveBonusEffects=true

        # Capacity of RF that the Hamster Wheel has
        I:hamsterWheelCapacity=200000

        # RF/tick that the Hamster wheel generates while in use
        I:hamsterWheelRFGeneration=20

        # Ticks that the hamster stays in the wheel before it needs more food
        I:hamsterWheelUseTime=900

        # Remove vanilla Chickens
        B:replaceVanillaChickens=true

        # Remove vanilla Cows
        B:replaceVanillaCows=true

        # Remove vanilla Pigs
        B:replaceVanillaPigs=true

        # Shift-Right-Click for Seed Placement
        B:shiftSeedPlacement=false

        # Show mod update notification at startup
        B:showModUpdateNotification=true

        # Show male parts (modesty flag)
        B:showParts=true

        # Show particles when animals are unhappy
        B:showUnhappyParticles=true

        # Food Items that can be placed in the trough
        S:troughFood <
            minecraft:wheat
            simplecorn:corncob
            harvestcraft:barleyitem
            harvestcraft:oatsitem
            harvestcraft:ryeitem
            harvestcraft:cornitem
         >
    }

    drops {
        # Set Custom Chicken Drop (if enabled)
        S:chickenDrop=animania:raw_prime_chicken

        # Allow Animania Chickens to drop Eggs
        B:chickensDropEggs=false

        # Allow Animania Chickens to drop Feathers
        B:chickensDropFeathers=true

        # Set Custom Cow Drop (if enabled)
        S:cowDrop=animania:raw_prime_beef

        # Enable Animal Drops from Config
        B:customMobDrops=true

        # Set Custom Dart Frog Drop
        S:dartFrogDrop=

        # Set Custom Ferret Drop (if enabled)
        S:ferretDrop=

        # Set Custom Frog Drop
        S:frogDrop=animania:raw_frog_legs

        # Set Custom Hamster Drop (if enabled)
        S:hamsterDrop=animania:hamster_food

        # Set Custom Hedgehog Drop (if enabled)
        S:hedgehogDrop=

        # Set Custom Horse Drop (if enabled)
        S:horseDrop=

        # Set Custom Blue Peacock Drop (if enabled)
        S:peacockBlueDrop=animania:blue_peacock_feather

        # Set Custom White Peacock Drop (if enabled)
        S:peacockWhiteDrop=animania:white_peacock_feather

        # Set Custom Pig Drop (if enabled)
        S:pigDrop=animania:raw_prime_pork

        # Set Custom Toad Drop
        S:toadDrop=
    }

    spawn {
        # Number of potential Chicken families per chunk
        I:numberChickenFamilies=1

        # Number of potential Cow families per chunk
        I:numberCowFamilies=2

        # Number of potential Horse families per chunk
        I:numberHorseFamilies=1

        # Number of potential Pig families per chunk
        I:numberPigFamilies=1

        # Spawn Animania Amphibians in world
        B:spawnAnimaniaAmphibians=true

        # Spawn Animania Chickens in world
        B:spawnAnimaniaChickens=true

        # Spawn Animania Cows in world
        B:spawnAnimaniaCows=true

        # Spawn Animania Horses in world
        B:spawnAnimaniaHorses=true

        # Spawn Animania Peacocks in world
        B:spawnAnimaniaPeacocks=true

        # Spawn Animania Pigs in world
        B:spawnAnimaniaPigs=true

        # Spawn Animania Rodents in world
        B:spawnAnimaniaRodents=true

        # Spawn limit for Amphibians in loaded chunks
        I:spawnLimitAmphibians=60

        # Spawn limit for Chickens in loaded chunks
        I:spawnLimitChickens=40

        # Spawn limit for Cows in loaded chunks
        I:spawnLimitCows=40

        # Spawn limit for Ferrets in loaded chunks
        I:spawnLimitFerrets=50

        # Spawn limit for Hamsters in loaded chunks
        I:spawnLimitHamsters=50

        # Spawn limit for Hedgehogs in loaded chunks
        I:spawnLimitHedgehogs=50

        # Spawn limit for Horses in loaded chunks
        I:spawnLimitHorses=40

        # Spawn limit for Peacocks in loaded chunks
        I:spawnLimitPeacocks=50

        # Spawn limit for Pigs in loaded chunks
        I:spawnLimitPigs=40

        # Spawn probability Amphibians
        I:spawnProbabilityAmphibians=10

        # Spawn probability Cows
        I:spawnProbabilityCows=12

        # Spawn probability Ferrets
        I:spawnProbabilityFerrets=10

        # Spawn probability Hamsters
        I:spawnProbabilityHamsters=12

        # Spawn probability Hedgehogs
        I:spawnProbabilityHedgehogs=10

        # Spawn probability Hens
        I:spawnProbabilityHens=16

        # Spawn probability Horses
        I:spawnProbabilityHorses=8

        # Spawn probability Peacocks
        I:spawnProbabilityPeacocks=20

        # Spawn probability Sows
        I:spawnProbabilitySows=12
    }

    careandfeeding {
        # Ticks before next incremental growth
        I:childGrowthTick=200

        # Egg hatch chance (1/x)
        I:eggHatchChance=2

        # Ticks between dropping feathers
        I:featherTimer=12000

        # Ticks between feedings
        I:feedTimer=12000

        # Ticks between birthings
        I:gestationTimer=20000

        # Ticks between laying eggs
        I:laidTimer=2000

        # Ticks between playing
        I:playTimer=4000

        # Ticks between animals taking starvation damage
        I:starvationTimer=400

        # Ticks between drinking water
        I:waterTimer=8000
    }

}


